//Typography
@import url("https://fonts.cdnfonts.com/css/open-sauce-one");
$font-family-sans-serif: "Open Sauce Sans", sans-serif;

//Colors
$black: #000000;
$black2: #0b0016;
$dark: #0d0d0d;
$white: #ffffff;
$white2: #e9e3ef;


// Body
// $body-bg: $light;
// $body-color: $black;

// container
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1160px,
  xxl: 1294px,
);
