.btn {
  display: none;
}
.categories-section {
  padding-block-start: 50px;
  padding-block-end: 100px;
  .content-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 30px;
    .list {
      list-style-type: none;
      padding-left: 0;
      .list-item {
        background: #bcbfe4;
        display: flex;
        flex-direction: column;

        margin-bottom: 10px;
        width: 100%;
      }
    }
  }
}

@media (max-width: 767px) {
  .btn {
    display: flex;
    background: white;
    margin-top: 15px;
    margin-left: 20px;
  }
  .categories-section {
    .content-container {
      display: block;
      .list {
        display: none;
      }
    }
  }
}
